ORDERS_PORT=3000
AUDIT_PORT=3001
AUDIT_TCP_PORT=4000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=orders
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

MONGODB_URI=mongodb://mongodb:27017/audit
